<div id="bottom-bar-container">
  <div class="row">
    <div class="offset-md-1 col-md-3">
      <h6 id="made-by-label">Website Made By Ian Richard</h6>
    </div>
    <div class="offset-md-4 col-md-4">
      <!-- <a class="logo-button" href="https://www.facebook.com/ian.richard.7528" target="_blank"><img src="https://image.ibb.co/mL4146/facebook.png" class="logo-photo"></a> -->
      <a class="logo-button" href="https://www.linkedin.com/in/ian-richard-768867a2/" target="_blank"><img src="https://image.ibb.co/jWGEP6/linkedin.png" class="logo-photo"></a>
      <a class="logo-button" href="https://github.com/irichard620" target="_blank">
        <img src="https://image.ibb.co/iv8CqS/imageedit_7_3242718201.png" alt="Github" class="logo-photo">
      </a>
      <a class="logo-button" href="https://www.freecodecamp.org/irichard620" target="_blank">
        <img src="https://image.ibb.co/i3X0c7/imageedit_9_4993232127.png" alt="FreeCodeCamp" class="logo-photo">
      </a>
      <a class="logo-button" href="https://codepen.io/ianr620/" target="_blank">
        <img src="https://image.ibb.co/iCYP4n/imageedit_13_5300154827.png" alt="Codepen" class="logo-photo">
      </a>
      <a class="logo-button" href="https://www.upwork.com/freelancers/~01fe631a8424eef7de" target="_blank">
        <img src="https://image.ibb.co/kOxTVS/imageedit_11_2492723651.png" alt="Upwork" class="logo-photo">
      </a>
    </div>
  </div>
</div>
